div {
  width: 70%;
  margin: auto;
}

.comtent {
  margin: 5%;
}

h1 {
  color: aqua;
  border: 5px solid black;
  margin-left: 60px;
  position: sticky;
  top: 30px;
  text-align: center;
}

h2 {
  color: rgb(221, 9, 9);
  border: 1px dashed darkblue;
  text-align: center;
}

p {
  border: 1px solid rgb(227, 216, 154);
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

img {
  border: 1px solid black;
  margin-top: 30px;
  margin-right: 60px;
  margin-bottom: 10px;
  margin-left: 250px;
}

li,
ol {
  background: rgb(81, 205, 136);
  text-align: left;
}

#Theme {
  color: aqua;
  border: 5px solid black;
  margin-left: 60px;
  top: 30px;
  text-align: center;
}

.color {
  background-color: rgb(83, 177, 232);
}

a {
  text-decoration: none;
}

ul {
  color: #fff;
  background: rgb(24, 197, 102);
  list-style: none;
  font-family: fantasy;
  margin: 0;
  padding-left: 0;
}

ul li {
  color: #fff;
  background: rgb(81, 205, 136);
  display: inline-block;
  border: 1px blue;
  padding: 10px;
  position: relative;
  text-decoration: none;
}

ul li a {
  color: #fff;
}

ul li:hover {
  background: red;
  cursor: pointer;
}

li ul {
  background-color: aquamarine;
  visibility: hidden;
  position: absolute;
  margin-top: 0.5rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

@media only screen and(max-width : 600px) {
  body {
    background: yellow;
    font-family: "Times New Roman", Times, serif;
  }
  ul li {
    background: black;
  }
}
